/* General changes */
html {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.bg-dark-gr {
  background-image: linear-gradient(
    to bottom,
    rgb(13, 2, 33),
    rgba(38, 20, 71) 90%
  );
  background-repeat: no-repeat;
}

.txt-sm {
  font-size: 14px;
}

.bd-pink-fuzz {
  box-shadow: 0px 0px 25px #ff3864;
}

.bg-pink {
  background-color: #ff3864;
}

/* Max-width utility class */
.mw-360px {
  max-width: 360px;
}

.w-150px {
  width: 150px;
}
