/* General changes */

/* Prevent scrollbar from shifting elements left */
html {
  width: 100vw;
}

/* Remove link underline */
a {
  text-decoration: none;
}

/* Override bootstrap button styling */
.btn-primary:hover {
  background-color: aqua;
}

.btn-primary:active {
  background-color: #2de2e6;
  transition: none;
}

.hover-primary:hover {
  background-color: #2de2e6;
}

.hover-warning:hover {
  background-color: #fad340;
}

/* Utility classes */
/* Background utility */
.bg-dark-gr {
  background: linear-gradient(to bottom, #0d0221, rgba(38, 20, 71) 90%);
  background-repeat: no-repeat;
}

.bg-pink {
  background-color: #ff3864;
}

.bd-pink-fuzz {
  box-shadow: 0px 0px 25px #ff3864;
}

.bd-primary-fuzz {
  box-shadow: 0px 0px 25px #2de2e6;
}

.bd-warning-fuzz {
  box-shadow: 0px 0px 25px #f9c80e;
}

/* Text utility */
.txt-lg {
  font-size: 20px;
}

.txt-sm {
  font-size: 14px;
}

.txt-xs {
  font-size: 12px;
}

.txt-wght-500 {
  font-weight: 500;
}

/* Min-height utility class */
.cust-min-height {
  /* 100vh minus the header height, tightly coupled :( */
  min-height: calc(100vh - 49px);
}

/* Max-width utility classes */
.mw-306px {
  max-width: 306px;
}

.mw-360px {
  max-width: 360px;
}

.mw-1200px {
  max-width: 1200px;
}

.w-25px {
  width: 25px;
}

.w-150px {
  width: 150px;
}

.w-100vw {
  width: 100vw;
}

.w-360px {
  width: 360px;
}
