// Overwrite theme variables
$primary: #2de2e6;
$secondary: #ff3864;
$warning: #f9c80e;
$success: #66ff00;
$dark: #0d0221;

// Include all bootstrap files
@import "../../node_modules/bootstrap/scss/bootstrap";
